@font-face{
	src:url('../webfonts/GreatVibes-Regular.ttf');
	font-family:GreatVibes ;
	
}
@font-face{
	
	src:url('../webfonts/PoiretOne-Regular.ttf');
	font-family:PoiretOne ;
}
@font-face{
	
	src:url('../webfonts/IndieFlower-Regular.ttf');
	font-family:flower ;
}
@font-face{
	
	src:url('../webfonts/Lobster-Regular.ttf');
	font-family:lobster ;
}
@font-face{
	
	src:url('../webfonts/SpecialElite-Regular.ttf');
	font-family:elite ;
}

body{
	background-color: black;
}
.title{
	height:300px;
}
.heading{
	padding-top:50px;
	font-family:PoiretOne;
	color:#fff;
	letter-spacing:7px;
	font-weight: 100;
}
#navigation {
	background-color:rgba(0, 0, 0, 0.5);
    padding: 20px 10px;
    z-index: 100;
    width: 100%;
}

#navigation li {
	padding: 0 10px;
}

#navigation li a {
	color: #fff;
}

.navbar-brand,
.navbar-brand:hover {
	color: #fff;
}

.navbar-toggler-icon {
	background: url(../img/menu.png);
	background-size: 100%;
}

.fixedNav #navigation {
	position: fixed;
	top: 0;
}
.fade {
      transition: opacity 0.5s linear !important;
}

.box1{
	 background-color:black;
	 display: flex;
     align-items: center;
     justify-content: center;
     height:400px;
     font-family: flower;
}
.box2{
	 background-color:white;
	 display: flex;
     align-items: center;
     justify-content: center;
     letter-spacing:7px;
     font-family: elite;
     font-weight:100;
     height:400px;
}

.image img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  border-radius: 50%;
}
#stripe{
  position: relative;
  background: url("../img/bw.jpg")no-repeat center fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 150px; 
  max-width:100%;
  font-size: 40px;
}
#ritual{
	background-color:white;
	color:black;
}
#ritual i{
	font-size:150px;
}
#ritual .h3{
	font-family:lobster;
	letter-spacing:3px;
    font-weight:100;
    font-size:25px;
}
#ritual p{
	font-family: GreatVibes;
	letter-spacing:4px;
    font-weight:100;
    font-size:20px;
}
.square {
	background-color:white;
	width:20px;
	height:20px;
	margin:2px;
}
@media only screen and (max-width: 600px) {
 .square{
	width: 10px;
	height: 10px;
}
}

#squarebox{
	background-color:black;
	display: flex;
	align-items: center;
	justify-content: center;
}
/*Sins*/
.section {
	padding: 70px 0;
	padding-bottom:25px;
}
.sinsSection{
	background-color:black;
	color: #fff;
	font-family:arial;
    font-weight:100;
}

.sins {
	text-align: center;
	margin-left: 10px;
}

.chart {
	position: relative;
    width: 152px;
    height: 152px;
    display: inline-block;
    text-align: center;
}

.chart canvas {
	position: absolute;
    left: 0;
    top: 0;
}

.chart .percent {
	color: #fff;
    line-height: 152px;
    display: inline-block;
    font-size: 35px;
}

.chart .percent:after {
	content: '%';
}
/*sins end*/

/*idol start*/

#owl-demo .item{
  margin: 6px;
}
#owl-demo .item img{
  display: block;
  width:100%;
  height:auto;
  border-bottom:15px solid #fff;
  border-top: 15px solid #fff;
}
/*idol end*/
.loader {
	width: 100%;
	height: 100%;
	background-color: #fff;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 1000;
}

.loader .inner {
	width: 100%;
	height: 100%;
	background: url(../img/225.gif) center center no-repeat;
}


